* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #ECEBEB;
  color: black;
  font-family: sans-serif; }

.heading-secondary {
  margin-top: 1.5rem;
  display: inline-block;
  height: 3.7rem;
  width: 33rem;
  font-size: 2.8rem;
  font-weight: bold;
  letter-spacing: -0.1px;
  line-height: 3.6rem; }

.info {
  display: block;
  margin-top: .3rem;
  font-size: .9rem;
  font-weight: 300;
  letter-spacing: 0.1px;
  line-height: 2rem; }

.heading-tertiary {
  display: inline-block;
  margin-top: .4rem;
  width: 34rem;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 2.4rem; }

.paragraph {
  display: inline-block;
  margin-top: .4rem;
  height: 13rem;
  width: 34rem;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 2.4rem; }

.btn {
  display: block;
  position: absolute;
  left: 2.3rem;
  bottom: 2.8rem;
  height: 2rem;
  width: 34rem;
  color: #00B9C8;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 2rem; }

.photo-spreker {
  position: absolute;
  top: -5rem;
  right: 2rem;
  width: 23.6rem;
  height: 32.4rem; }

.spreker {
  width: 132rem;
  display: flex;
  margin: 0 auto; }

.spreker > * {
  padding-left: 2.3rem; }

.container {
  height: 32.5rem;
  width: 64.8rem;
  background-color: white;
  margin-right: 2.4rem;
  margin-top: 10rem;
  position: relative; }
