.spreker {
    width: 132rem;
    display: flex;
    margin: 0 auto;
}

.spreker > * {
    padding-left: 2.3rem;
}

.container {
    height: 32.5rem;
    width: 64.8rem;
    background-color: white;
    margin-right: 2.4rem;
    margin-top: 10rem;
    position: relative;
}
